.header {
    height: 400px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.7));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 20px;
    padding: 0;
    width: 350px;
    height: 100%;
    background-image: url('../../assets/logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.info {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.724);
    margin-top: auto;
    width: 100%;
    padding-block: 5px;
}