.header {
    height: 380px;
    width: 100%;
    background-image: url('https://i.pinimg.com/originals/8f/69/84/8f698481fb0da708d739110ec6590a48.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
}
.info {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.724);
    margin-top: auto;
    width: 100%;
    padding-block: 5px;
}

