.share {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding-inline: 12px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  font-size: 15px;
  width: 100px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.252);
  background-color: transparent;
  -webkit-appearance: none;
  appearance: none;
  color: white;
}

.share:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgb(0, 0, 0, 0.5);
}
